body {
  background-color: #658864;
}

.app {
  background-color: white;
  min-height: 80vh;
  width: 800px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 1px #EB455F;
  background-color: #F8EDE3;
  padding: 5px;
}

  ul, li {
    align-items: center;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  li {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .add {
    background: #EB455F;
    margin-top: 5px;
  }

  .delete {
    background: #658864;
    margin-bottom: 5px;
  }
  
  .btn {
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    }

    input {
      flex: 1;
      padding: 8px;
      margin: 10px;
      font-family: 'Montserrat', sans-serif;
    }

@media all and (max-width: 800px) {
  .app {
    min-height: 70vh;
    width: 600px;
  }

  .check {
    width: 20px;
    height: 20px;
  }
}

@media all and (max-width: 600px) {
  .app {
    min-height: 60vh;
    width: 400px;
  }

  img {
    width: 350px;
    height: 250px;
  }

  .check {
    width: 15px;
    height: 15px;
  }
}

@media all and (max-width: 400px) {
  .app {
    min-height: 40vh;
    width: 250px;
  }

  img {
    width:250px;
    height: 180px;
  }

  .check {
    width: 15px;
    height: 15px;
  }
}